html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    background-color: rgb(243, 243, 243);
    border-spacing: 0;

    table-layout: fixed;
    width: 100%;
}

thead {
    background-color: rgb(124, 124, 124);
    color: white;
}

th, td {
    padding: 5px 0 5px 0;
    color: inherit;
}

td {
    border-bottom: 1px solid rgb(221, 221, 221);
    color: inherit;
}

input {
    background-color: inherit;

    border: none;
    border-bottom: 1px solid transparent;

    color: inherit;
    
    outline: 0;

    text-align: inherit;

    transition-duration: 0.5s;
}

input:read-only {
    cursor: default;
}

input:hover {
    border-bottom: 1px solid rgb(201, 201, 201);
}

input:focus {
    border-bottom: 1px solid darkgray;
}

button, select {
    border: none;
    
    color: inherit;

    outline: 0;

    padding: 10px;
}

button:hover {
    background-color: rgb(209, 209, 209);
}

button:active {
    background-color: rgb(192, 192, 192);
}

.text-center {
    text-align: center;
}

.bar {
    border-right: 1px solid black;
}

.text-right {
    text-align: right;
    padding-right: 10px;
}